<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Confirmed Users</title>
</head>
<body>
<h2>Confirmed Users for the Trip</h2>

<table class="user-table">
    <thead>
    <tr>
        <th>User Name</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Desciption</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reservation : ${confirmedReservations}">
        <td th:text="${reservation.user.username}"></td>
        <td th:text="${reservation.user.firstName}"></td>
        <td th:text="${reservation.user.lastName}"></td>
        <td th:text="${reservation.user.email}"></td>
        <td th:text="${reservation.notes}"></td>
    </tr>
    </tbody>
</table>

<a th:href="@{/admin/dashboard}" class="back-link">Back to Dashboard</a>

</body>
</html>
